name: PR

on:
  push:

jobs:
  job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - run: |
          gh --version
      - run: |
          gh api \
            --method POST \
              -H "Accept: application/vnd.github+json" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              /repos/Godin/test-gh/pulls \
              -f 'title=Amazing new feature' \
              -f 'body=Please pull these awesome changes in!' \
              -f 'head=pr' \
              -f 'base=main'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
